{% extends "base_layout.html" %}

{% block content %}

    {% comment %}
      Esto es un comentario
    {% endcomment %}
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="side-left">
            <ul>
              {% for app in apps %}
              <li class="appList">{{ app|upper }}</li>
              {% endfor %}
              <div class="app_charged mt-2">
                <p>Aplicaciones cargadas: {{ apps|length }}</p>
              </div>
            </ul>
          </div>
        </div>

        <div class="col-sm-10">
          <div class="container" id="gridContainer">
            <div class="row">
          {% for pro in projects %}
                <div class="col mt-3">
                  <a class="link" href="{% url 'home:detail_project' pro.id_project  %}" >
                      <div class="card" style="width: 18rem;">
                        <img width="100px" height="200px" src="{{pro.image.url}}" class="card-img-top" alt="{{ pro.name }}">
                          <div class="card-body">
                              <h5 class="card-title">{{ pro.name }}</h5>
                              <p class="card-text">{{ pro.description|truncatechars:20 }}</p>
                          </div>
                      </div>
                  </a>
                </div>
                {% endfor%}
              </div>
            </div>
    


        </div>
      </div>








      

{% endblock %}