{% extends "base_layout.html" %}

{% block content %}

    {% comment %}
      Esto es un comentario
    {% endcomment %}



    <ul>
      {% for app in apps %}
        <li>{{ app }}</li>
      {% endfor %}
      <h5>Aplicaciones cargadas {{ apps|length }}</h5>
    </ul>




    <div class="container" id="gridContainer">
      <div class="row">
    {% for pro in projects %}
          <div class="col">
            <a class="link" href="{% url 'home:detail_project' pro.id_project  %}" >
                <div class="card" style="width: 18rem;">
                  <img width="100px" height="200px" src="{{pro.image.url}}" class="card-img-top" alt="{{ pro.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ pro.name }}</h5>
                        <p class="card-text">{{ pro.description|truncatechars:20 }}</p>
                    </div>
                </div>
            </a>
          </div>
          {% endfor%}
        </div>
      </div>

{% endblock %}