{% load static %}
{% block content%}

<!--<nav class="navbar navbar-expand-lg navbar-light bg-primary" >-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dce4e9;">
    <div class="container">
      <a class="navbar-brand fw-bold fst-italic" href="{% url 'home:home' %}">FerBaeza</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        {% if request.path != '/home/' %}
        <li class="nav-item d-flex align-items-center m-1">
          <a class="nav-link" href="{% url 'home:home' %}">Home</a>
        </li>
        {% endif%}
        
        
        
        {% if request.path == '/home/' %}
          <li class="nav-item d-flex align-items-center m-1">
            <a class="nav-link" href="{% url 'library:library'%}">Library</a>
          </li>
          <li class="nav-item d-flex align-items-center m-1">
            <a class="nav-link" href="{% url 'generator:generator'%}">Generator Pass</a>
          </li>

          <li class="nav-item d-flex align-items-center m-1">
            <a class="nav-link" href="{% url 'blog:posts' %}">Blog</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-secondary btn-sm" href="{% url 'admin:index' %}">Admin</a>
          </li>
          <li class="nav-item d-flex align-items-center m-1">
            <a class="nav-link" href="{% url 'portfolio:about' %}">About me</a>
          </li>
        {% endif %}
        
        
      </ul>
      </div>
    </div>
  </nav>

{% endblock %}